{% extends 'index.html' %}

{% block content %}
{{super()}}

<!-- visualizzazione risposta AI -->
<div class="card" id="AiResponse" style="display: none;">
    <div class="card-header">
      Ai
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{ result }}</p>
        <footer class="blockquote-footer">powered by:  <cite title="Source Title">GPT-4</cite></footer>
      </blockquote>
    </div>
  </div>

<script>
    // JavaScript per avviare analisi Ai
    document.getElementById('avviaAnalisiAi').addEventListener('click', function () {
        var AiResponse = document.getElementById('AiResponse');
        AiResponse.style.display = (AiResponse.style.display === 'none' || AiResponse.style.display === '') ? 'block' : 'none';
      });

</script>
    
{% endblock content %}