<form method="POST" action="{{url_for('viewActivity')}}">
    <div class="col-md-6 mt-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col">
                        <a type="submit" class="btn btn-secondary" href="{{url_for('viewActivity')}}" onclick="showTable()">Visualizza tutte le attività</a>
                        <a type="submit" class="btn btn-secondary" href="{{url_for('activityHome')}}" onclick="hideTable()">Nascondi attività</a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        {% if activities %}
                            <table class="table table-hover table-bordered" id="allActivitiesTable">
                                <thead>
                                    <tr>
                                        <th scope="col">data</th>
                                        <th scope="col">attività</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for act in activities %}
                                        <tr>
                                            <td>{{ act.date }}</td>
                                            <td>{{ act.description }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>    
</form>


<textarea class="form-control" id="input_utente_chat" name="input_utente_chat" rows="3" placeholder="here..."></textarea>